body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.Dict {
    background-color: aqua;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

form {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #5f5959;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(214, 209, 219);
    color: #5f5959;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(201, 201, 157);
}

/* Result */
.card {
    background-color: beige;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.card h2 {
    margin-bottom: 5px;
} 

.phonetic {
    color: #000;
    font-style: italic;
}

.meaning {
    margin-top: 15px;
}

.meaning h3 {
    color: #5f5959;
    margin-top: 15px;
}

.synonyms {
    margin-top: 15px;
}

.synonyms span {
    font-size: 15px;
    display: inline-block;
    background-color: aliceblue;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    border-radius: 6px;
}