body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.Dict {
    background-color: aqua;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: darkslateblue;
}

header {
    text-align: center;
}

form {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: blueviolet;
    color: #5f5959;
    border-radius: 5px;
}

button:hover {
    background-color: beige;
}

.result {
    margin-top: 20px 0;
}
